* {
    box-sizing: border-box;
}

body {
    background-color: #2878FB;
    background-color: #0F56FB;
    color: #fff;
}

.app {
    margin: 0 auto;
    max-width: 640px;
}

.app-header {
    background-color: #afe6fb;
    color: #3f60a7;
    padding: 1rem;
}