* {
    box-sizing: border-box;
}

body {
    background: linear-gradiant(to bottom, #eee 30%, #fff);
    color: #232524;
    font-family: Roboto;
    font-weight: 400;
}

.app {
    margin: 0 auto;
    max-width: 640px;
}

.app-header {
    background-color: #0F56FB;
    color: #eee;
    font-family: 'Abril Fatface';
    padding: 1rem;
}

nav {
    margin: .2rem;
    padding: .8rem;
}

a {
    margin: .2rem .4rem;
}